// Colors
$dark-blue: #1A1A3F;
$light-gray: #E6E6E6;
// Font Size
$title-size: 2.2rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Sizing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$m-size-hover: 1.7rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 720px;;
// Header
$header-height: 68px;
// Transition
$transition-speed: .5s ease-in-out;
